allow hal_graphics_composer_default ion_device:chr_file write;
allow hal_graphics_composer_default self:netlink_kobject_uevent_socket read;
allow hal_graphics_composer_default sysfs:file { open read };
allow hal_graphics_composer_default vndbinder_device:chr_file { ioctl open read write };
allow hal_light_default sysfs:file { open read write };
allow hal_memtrack_default debugfs:dir { open read };
allow hal_sensors_default iio_device:chr_file { open read };
allow hal_sensors_default sysfs:dir { open read };
allow hal_sensors_default sysfs:file { getattr open read write };

